### Path for storage of persisten data
DATA_PATH=/data/nextcloud

### Let's Encrypt
LETSENCRYPT_MAIL=nn@gmail.com

### Domains
DOMAIN_BASE=example.com
DOMAIN_NEXTCLOUD=nextcloud.${DOMAIN_BASE}
DOMAIN_COLLABORA=collabora.${DOMAIN_BASE}
DOMAIN_ONLYOFFICE=onlyoffice.${DOMAIN_BASE}

### Database (MySQL/PostgreSQL)
DATABASE_POSTGRESQL_VERSION=15

DATABASE_NAME=nextcloud
DATABASE_USER=nextcloud
DATABASE_PASSWORD=NEXTCLOUD_PASSWORD
DATABASE_ROOT_PASSWORD=ROOT_PASSWORD

### Redis
REDIS_HOST=redis
REDIS_HOST_POST=6379
REDIS_HOST_PASSWORD=LONG_SECRET_PASSWORD

### NextCloud
NEXTCLOUD_VERSION=24
NEXTCLOUD_BRANCH=fpm

NEXTCLOUD_ADMIN_USERNAME=admin
NEXTCLOUD_ADMIN_PASSWORD=Plz-change-the-passw0rd

NEXTCLOUD_TRUSTED_DOMAINS=${DOMAIN_NEXTCLOUD}
NEXTCLOUD_TRUSTED_PROXIES=10.0.0.0/8 172.16.0.0/12 192.168.0.0/16

# note: This is 2 upper-case letters
# https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2#Officially_assigned_code_elements
NC_DEFAULT_PHONE_REGION=DK

### NextCloud (Debug)
# The default for XDEBUG_MODE is "off" - Other options are: debug, develop and trace
# Source: https://xdebug.org/docs/all_settings#mode
#XDEBUG_MODE=develop,debug

# Config logging of executed sql queries - Default value is "" for disabled
#NC_QUERY_LOG_FILE=data/query.log

### Nginx
DOMAINS=nextcloud.${DOMAIN_BASE},collabora.${DOMAIN_BASE},onlyoffice.${DOMAIN_BASE}
NGINX_LOG_ACCESS=N
NGINX_LOG_ERROR=Y
PLUGIN_SSL_DISABLE_HEADER=Strict-Transport-Security X-Frame-Options Content-Security-Policy X-Content-Type-Options
#DEBUG_BASH=1

### Elastic Search
ELASTIC_SEARCH_VERSION=7.17.8

