# DOMAIN
DOMAIN_BASE=example.com
DOMAIN_NEXTCLOUD=nextcloud.${DOMAIN_BASE}
DOMAIN_COLLABORA=collabora.${DOMAIN_BASE}
DOMAIN_ONLYOFFICE=onlyoffice.${DOMAIN_BASE}

# Database (MySQL)
MYSQL_DATABASE=nextcloud
MYSQL_USER=nextcloud
MYSQL_PASSWORD=NEXTCLOUD_PASSWORD
MYSQL_ROOT_PASSWORD=ROOT_PASSWORD
MYSQL_HOST=db

# Redis
REDIS_HOST=redis
REDIS_HOST_POST=6379
REDIS_HOST_PASSWORD=LONG_SECRET_PASSWORD

# NextCloud
NEXTCLOUD_VERSION=24
NEXTCLOUD_BRANCH=fpm

# Collabora
domain=nextcloud.${DOMAIN_BASE}

# Nginx
DOMAINS=nextcloud.${DOMAIN_BASE},collabora.${DOMAIN_BASE},onlyoffice.${DOMAIN_BASE}
NGINX_LOG_ACCESS=N
NGINX_LOG_ERROR=Y
PLUGIN_SSL_DISABLE_HEADER=Strict-Transport-Security X-Frame-Options Content-Security-Policy X-Content-Type-Options
#DEBUG_BASH=1

# Elastic Search
ELASTIC_SEARCH_VERSION=7.17.8

